.Default-button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .Default-button-active {
    background-color: rgb(71, 145, 241);
  }
  
  .Default-button:hover {
    background-color: rgb(71, 145, 241);
  }

  .Button-danger {
    background-color: #d9534f 
  }

  .Button-go {
    background-color: #4a9700
  }

  .Button-add {
    border: solid;
  }

  .hidden {
    display: none;
  }